In [2]:
import pandas as pd

df = pd.read_csv('balance_hist_anon.csv', index_col=0)
df.index.name = 'id'
df

/Users/joe/opt/anaconda3/lib/python3.7/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,EBIZ_BALANCE_ID,VALID_FROM,VALID_TO,GIRONUMBER,AMOUNT,CURRENCY
id,,,,,,
0,208724450,2017-04-14 22:24:01.683,2017-04-14 22:26:07.497,1170008-00543226,7.060565e+08,HUF
1,208724451,2017-04-14 22:24:01.683,2017-04-14 22:26:07.497,1170945-03286018,1.601980e+03,USD
2,208724452,2017-04-14 22:24:01.683,2017-04-14 22:26:07.497,1170945-03286881,6.926736e+04,EUR
3,208724453,2017-04-14 22:24:01.683,2017-04-14 22:26:07.497,1170008-00546085,1.509114e+08,HUF
4,208724454,2017-04-14 22:24:01.683,2017-04-14 22:26:07.497,1170008-00545998,1.527115e+08,HUF
...,...,...,...,...,...,...
6427311,538436575,2020-07-31 14:28:51.530,2020-10-26 11:45:54.447,11702111020055198,1.196163e+06,HUF
6427312,538436694,2020-07-31 14:28:51.530,2020-10-26 11:45:54.447,11702245020068310,4.230240e+05,HUF
6427313,538436936,2020-07-31 14:28:51.530,2020-10-26 11:45:54.447,11702036020696850,9.230003e+06,HUF
6427314,538436937,2020-07-31 14:28:51.530,2020-10-26 11:45:54.447,11702033022816896,1.848733e+06,HUF
6427315,538437082,2020-07-31 14:28:51.530,2020-10-26 11:45:54.447,11702003020130721,5.810147e+06,HUF

In [4]:
df['CURRENCY'].unique()

array(['HUF', 'EUR', 'USD', 'RON', 'PLN', 'CZK', 'GBP', 'CHF', 'BGN',
       'HRK', 'RSD', 'SEK'], dtype=object)

2 reasons why only small part is used: 
1. smaller dataset - easier testing
2. number of rows can be increased instead of resetting offset

In [3]:
df.head(20000).to_csv('data/balance.csv', index=True)

Exchange rates

In [4]:
exchange_rate_df = pd.read_csv('eurofxref-hist.csv', index_col=0)
exchange_rate_df

,USD,JPY,BGN,CYP,CZK,DKK,EEK,GBP,HUF,LTL,...,INR,KRW,MXN,MYR,NZD,PHP,SGD,THB,ZAR,Unnamed: 42
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-09,1.2109,126.05,1.9558,NaN,26.239,7.4429,NaN,0.90000,356.64,NaN,...,89.2120,1314.27,23.9187,4.9196,1.7103,58.298,1.6174,36.388,18.0756,NaN
2020-12-08,1.2114,126.18,1.9558,NaN,26.398,7.4436,NaN,0.91143,360.10,NaN,...,89.2030,1314.53,24.0683,4.9328,1.7220,58.359,1.6209,36.415,18.2159,NaN
2020-12-07,1.2128,126.30,1.9558,NaN,26.482,7.4433,NaN,0.91215,359.49,NaN,...,89.6285,1316.88,24.0901,4.9385,1.7252,58.421,1.6212,36.669,18.4244,NaN
2020-12-04,1.2159,126.44,1.9558,NaN,26.518,7.4429,NaN,0.90282,358.57,NaN,...,89.6755,1320.60,24.1091,4.9366,1.7254,58.430,1.6206,36.672,18.4674,NaN
2020-12-03,1.2151,126.49,1.9558,NaN,26.420,7.4439,NaN,0.90358,357.63,NaN,...,89.7090,1325.91,24.1384,4.9453,1.7175,58.299,1.6228,36.660,18.5475,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999-01-08,1.1659,130.09,NaN,0.58187,34.938,7.4433,15.6466,0.70940,250.15,4.6643,...,NaN,1366.73,NaN,NaN,2.1557,NaN,1.9537,NaN,6.7855,NaN
1999-01-07,1.1632,129.43,NaN,0.58187,34.886,7.4431,15.6466,0.70585,250.09,4.6548,...,NaN,1337.16,NaN,NaN,2.1531,NaN,1.9436,NaN,6.8283,NaN
1999-01-06,1.1743,131.42,NaN,0.58200,34.850,7.4452,15.6466,0.70760,250.67,4.6994,...,NaN,1359.54,NaN,NaN,2.1890,NaN,1.9699,NaN,6.7307,NaN
1999-01-05,1.1790,130.96,NaN,0.58230,34.917,7.4495,15.6466,0.71220,250.80,4.7174,...,NaN,1373.01,NaN,NaN,2.2011,NaN,1.9655,NaN,6.7975,NaN
1999-01-04,1.1789,133.73,NaN,0.58231,35.107,7.4501,15.6466,0.71110,251.48,4.7170,...,NaN,1398.59,NaN,NaN,2.2229,NaN,1.9554,NaN,6.9358,NaN

In [9]:
exchange_rate_df = pd.read_csv('eurofxref-hist.csv', index_col=0)
exchange_rate_df = exchange_rate_df[['HUF', 'USD', 'GBP', 'RON', 'CHF', 'PLN', 'CZK','BGN', 'HRK', 'SEK']]
exchange_rate_df = exchange_rate_df.sort_index()
exchange_rate_df = exchange_rate_df.loc['2017-01-01':'2020-12-10']
exchange_rate_df.to_csv('exchange.csv', index=True)
exchange_rate_df

,HUF,USD,GBP,RON,CHF,PLN,CZK,BGN,HRK,SEK
Date,,,,,,,,,,
2017-01-02,309.45,1.0465,0.85140,4.5390,1.0711,4.4123,27.021,1.9558,7.5548,9.5438
2017-01-03,308.94,1.0385,0.84565,4.5228,1.0702,4.3934,27.020,1.9558,7.5655,9.5348
2017-01-04,308.35,1.0437,0.84945,4.5086,1.0707,4.3778,27.021,1.9558,7.5738,9.5238
2017-01-05,308.28,1.0501,0.85440,4.5065,1.0704,4.3680,27.021,1.9558,7.5770,9.5341
2017-01-06,307.24,1.0589,0.85648,4.5013,1.0725,4.3552,27.021,1.9558,7.5780,9.5515
...,...,...,...,...,...,...,...,...,...,...
2020-12-03,357.63,1.2151,0.90358,4.8730,1.0831,4.4733,26.420,1.9558,7.5470,10.3025
2020-12-04,358.57,1.2159,0.90282,4.8725,1.0822,4.4769,26.518,1.9558,7.5415,10.2578
2020-12-07,359.49,1.2128,0.91215,4.8735,1.0802,4.4670,26.482,1.9558,7.5400,10.2018
2020-12-08,360.10,1.2114,0.91143,4.8728,1.0781,4.4663,26.398,1.9558,7.5403,10.2358
2020-12-09,356.64,1.2109,0.90000,4.8685,1.0764,4.4246,26.239,1.9558,7.5490,10.2745

In [8]:
exchange_rate_df.loc['2018-11-20']

HUF    321.25000
USD      1.14210
GBP      0.88908
RON      4.66730
CHF      1.13280
PLN      4.31770
CZK     26.03200
BGN      1.95580
HRK      7.42770
SEK     10.31330
Name: 2018-11-20, dtype: float64